@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li, a, button {
    font-family: "Oswald", serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background-color: #42788d;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #000;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(42, 76, 89,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(182, 214, 227,0.8);
}

h1 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"; font-size: 8vw; font-style: normal; font-variant: normal; font-weight: 700;
}

h2 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 4.5vw; font-style: normal; font-variant: normal;}
}

h3 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 500; line-height: 15.4px;
}

p {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-style: normal; font-size: 14px; font-variant: normal; font-weight: 600; line-height: 5vh; font-size: 3vw;
}

h4 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-style: normal; font-size: 14px; font-variant: normal; font-weight: 1000; line-height: 20px; align-content: center;
}

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

.header {
    position: relative;
    overflow: hidden; /* Prevents visual overflow */
}

.header img {
    display: block;
    width: 100%;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 20vw;
    transform: translate(-50%, -8%);
    color: white;
    text-align: left;
    line-height: 1;
    letter-spacing: 8px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
}

.wave1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 1.0));
}

.wave2 {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.wave3 {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.blob1 {
    position: absolute;
    bottom: -100%;
    right: -5vw;
    width: 100%;
    height: 100%;
}

.blob2 {
    position: absolute;
    bottom: -120%;
    right: -6vw;
    width: 100%;
    height: 100%;
}

.biography-block {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #42788d, #3c6570);
    width: 100%;
}

.bio-container {
    display: inline-block;
    width: 100%;
}

.bio-text {
    display: inline-block;
    position: relative;
    left: 4vw;
    width: 60%;
    transform: translateY(-40%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
}

.bio-container img {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 30%;
    border-color: white;
}

.projects-block {
    position: relative;
    background-color: #72b8d5;
    width: 100%;
    height: auto;
}

.projects-text, .about-text {
    position: relative;
    left: 3%;
}

.projects12-container {
    padding-top: 20px;
    display: flex; /* Enable Flexbox */
    justify-content: space-around; /* Space between items */
    align-items: center; /* Align items vertically */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
}

.projects34-container {
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex; /* Enable Flexbox */
    justify-content: space-around; /* Space between items */
    align-items: center; /* Align items vertically */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
}

.project {
    position: relative;
    flex: 0 0 45%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    z-index: 1;
    transition: filter 0.3s ease-in-out;
}

/* Apply the blur effect on hover */
.project:hover .image {
    filter: blur(3px);
}

.project .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.8rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2; /* Make sure the text is on top */
}

/* Show text on hover */
.project:hover .text {
    opacity: 1;
}

.about-block {
    position: relative;
    display: inline-block;
    background-color: #93b9c9;
    width: 100%;
    height: auto;
}

.about-desc {
    position: relative;
    color: white;
    width: 85%;
    left: 5%;
}

.bio-text, .projects-text, .about-text {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
    height: 1000px;
    overflow-x: hidden;
    display: inline-block;
}

/* Code for flip feature on LinkedIn object from https://www.youtube.com/watch?v=NCLdf661ILE */
.LinkedIn {
    position: fixed;
    width: 100px;
    height: 100px;
    perspective: 500px;
    right: 2%;
    bottom: 20px;
    z-index: 3;
}

.LinkedIn:hover > .flip-box1 {
    cursor: pointer;
    transform: rotateY(180deg);
}

.flip-box1 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front1, .back1 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(12, 100, 197, 0.5);
    position: absolute;
    backface-visibility: hidden;
}

.front1 {
    background-image: url('images/linkedIn.jpg');
    background-size: 100% 100%;
    pointer-events: none;
}

.back1 {
    background-image: url('images/linkedInProfile.jpg');
    background-size: 100% 100%;
    transform: rotateY(180deg);
    pointer-events: auto;
}

/* Code for flip feature on LinkedIn object from https://www.youtube.com/watch?v=NCLdf661ILE */
.Handshake {
    position: fixed;
    width: 100px;
    height: 100px;
    perspective: 500px;
    right: 2%;
    bottom: 140px;
    z-index: 3;
}

.Handshake:hover > .flip-box2 {
    cursor: pointer;
    transform: rotateY(180deg);
}

.flip-box2 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front2, .back2 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(216, 252, 84, 0.5);
    position: absolute;
    backface-visibility: hidden;
}

.front2 {
    background-image: url(https://www.gartner.com/pi/vendorimages/handshake_1701339439446.jpg);
    background-size: 100% 100%;
    pointer-events: none;
}

.back2 {
    background-color: #d8fc54;
    transform: rotateY(180deg);
    pointer-events: auto;
    padding: 10px;
    text-align: center;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
